In [1]:
import random
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
seed = 12
np.random.seed(seed)
random.seed(seed)

In [3]:
df = pd.read_csv("../data/train.csv")
df['date'] = pd.to_datetime(df['date'])

In [4]:
date_cutoff = df['date'].quantile(0.65)
train_df = df.loc[df['date'] < date_cutoff, :]
test_df = df.loc[df['date'] >= date_cutoff, :]

In [5]:
train_g = train_df.groupby(['date'])
len(train_g)

1094

In [6]:
store_nbrs = pd.unique(train_df['store_nbr'])
store_nbrs.sort()

product_fams = pd.unique(train_df['family'])
product_fams.sort()

In [7]:
train_df

,id,date,store_nbr,family,sales,onpromotion
0,0,2013-01-01,1,AUTOMOTIVE,0.00000,0
1,1,2013-01-01,1,BABY CARE,0.00000,0
2,2,2013-01-01,1,BEAUTY,0.00000,0
3,3,2013-01-01,1,BEVERAGES,0.00000,0
4,4,2013-01-01,1,BOOKS,0.00000,0
...,...,...,...,...,...,...
1949503,1949503,2016-01-02,9,POULTRY,643.12897,0
1949504,1949504,2016-01-02,9,PREPARED FOODS,113.00000,0
1949505,1949505,2016-01-02,9,PRODUCE,2029.37900,0
1949506,1949506,2016-01-02,9,SCHOOL AND OFFICE SUPPLIES,4.00000,0
1949507,1949507,2016-01-02,9,SEAFOOD,24.14600,4

In [8]:
train_series = pd.pivot(train_df, index='date', columns=['store_nbr', 'family'], values=['sales', 'onpromotion'])

DatetimeIndex(['2013-12-24', '2013-12-26', '2013-12-27', '2013-12-28',
               '2013-12-29', '2013-12-30', '2013-12-31', '2014-01-01',
               '2014-01-02', '2014-01-03',
               ...
               '2015-12-23', '2015-12-24', '2015-12-26', '2015-12-27',
               '2015-12-28', '2015-12-29', '2015-12-30', '2015-12-31',
               '2016-01-01', '2016-01-02'],
              dtype='datetime64[ns]', name='date', length=737, freq=None)